$def with (content)
<html>
  <head>
    <title> 🐸PepeCache </title>
    <link rel="icon" href="static/favicon.ico"></link>
    <link rel="stylesheet" type = "text/css" href = "static/webserver.css"></link>
  </head>
  <body>
    <header class = "shadow-2"></header>
    <div id = "title" class = "headbar">🐸PepeCache</div>
    <div id = "feed" class = "headbar">Pepe Feed</div>
    <div id ="upload" class = "headbar">Pepe Upload</div>
    <div id = "contentbox" class = "shadow-1">
      $:content
    </div>
  </body>
</html>
