$def with (content)
<html>
  <head>
    <title> 🐸pepecache </title>
    <link rel="icon" href="static/favicon.ico"></link>
    <link rel="stylesheet" type = "text/css" href = "static/webserver.css"></link>
    <script src = "static/script.js"></script>
  </head>
  <body>


    <div id = "ContentBox" class = "contentbox">
      $:content
    </div>

    <header class = "shadow-2"></header>
    <div id = "title" class = "headbar" onclick = "changePage1()">🐸pepecache</div>
    <div id = "feed" class = "headbar" onclick = "changePage2()">pepe feed</div>
    <div id ="upload" class = "headbar" onclick = "changePage3()">pepe upload</div>

  </body>
</html>
