<html>
  <head>
    <title> pepecache </title>
    <link rel="icon" href="static/favicon.ico"></link>
    <link rel="stylesheet" type = "text/css" href = "static/webserver.css"></link>
  </head>
  <body>

    <div id = "newUser" class = "welcome">
      new account
      <img src = "static/computerpepe.png"></img>
      <form id = 'newaccount' method = 'POST' enctype="multipart/form-data" action="" class = "smalltext">
        username
        <input type = "text" name = "newUsername"></input><br>
        password
        <input type = "text" name = "newPassword"></input><br>
        <input type = "submit" value = "create"></input>
      </form>
    </div>
  </body>
</html>
