<html>
  <head>
    <link rel="stylesheet" type = "text/css" href = "static/webserver.css"></link>
  </head>
  <body onload = "checkuserstatus()">
    <div class= "welcome">submit pepes here!<br>
      <img src = "static/uploadpepe.gif" width = "200px" height = "200px"></img>
    <form  method = "POST" id = "picUpload" enctype="multipart/form-data" action="">
      <input type = "file" name = "myfile"></input><br>
      <input type = "submit" value = "submit"></input>
    </form>
  </div>
  </body>
</html>
